ELASTIC_VERSION=7.9.3

# Se completan con la IP privada de la instancia observability.
APM_SERVER_URL=http://OBSERVABILITY_PRIVATE_IP:8200
LOGSTASH_HOST=OBSERVABILITY_PRIVATE_IP:5044
ELASTICSEARCH_HOST=http://OBSERVABILITY_PRIVATE_IP:9200
KIBANA_HOST=http://OBSERVABILITY_PRIVATE_IP:5601

